Question - is START-TLS supported by flask-ldap3-login?

I tried today to connect to my ldap server with START-TLS and i got an "unable to open socket" Error.

flask_ldap3_login.authenticate_direct_bind +406 - ERROR - ('unable to open socket', [(LDAPSocketOpenError("('socket ssl wrapping error: EOF occurred in violation of protocol (_ssl.c:600)',)",)

The ldap Server provides only PLAIN ldap oder START-TLS ldap via Port 389. The ldaps Port 636 is not in use.

I used the Quickinstall TLS Version from the documention, but without luck.

ldap3 can connect to START-TLS based Server. It seems that your implementation is full-encrypted and didnt support START-TLS.


```python
import ssl
from ldap3 import Server, Connection, Tls, ALL
from ldap3 import AUTO_BIND_NO_TLS, AUTO_BIND_TLS_BEFORE_BIND

host = 'someldapserver.with.starttls'
server = Server(host, port=389, get_info=ALL)

conn = Connection(server, auto_bind=True)
print(server.info)
print("Plain 1\n",conn)
conn.start_tls()
print("START-TLS 2\n", conn)
conn.unbind()

tls_configuration = Tls(validate=ssl.CERT_NONE, version=ssl.PROTOCOL_TLSv1_2)
server = Server(host, port=389, use_ssl=False, tls=tls_configuration, get_info=ALL)
conn = Connection(server, auto_bind=False)
conn.open()
conn.start_tls()
# print(server.info)
print("START-TLS again\n",conn)
conn.unbind()
```



```shell
python testtls.py 
DSA info (from DSE):
  Supported LDAP versions: 3
  Naming contexts: 
    ou=somewhere,o=something,c=somedomain
    cn=log
  Supported controls: 
    1.2.826.0.1.3344810.2.3 - Matched Values - Control - RFC3876
    1.2.840.113556.1.4.1339 - Domain scope - Control - MICROSOFT
    1.2.840.113556.1.4.1340 - Search options - Control - MICROSOFT
    1.2.840.113556.1.4.1413 - Permissive modify - Control - MICROSOFT
    1.2.840.113556.1.4.319 - LDAP Simple Paged Results - Control - RFC2696
    1.2.840.113556.1.4.805 - Tree delete - Control - MICROSOFT
    1.3.6.1.1.12 - Assertion - Control - RFC4528
    1.3.6.1.1.13.1 - LDAP Pre-read - Control - RFC4527
    1.3.6.1.1.13.2 - LDAP Post-read - Control - RFC4527
    1.3.6.1.1.22 - LDAP Don't Use Copy - Control - RFC6171
    1.3.6.1.4.1.21008.108.63.1
    1.3.6.1.4.1.42.2.27.8.5.1 - Password policy - Control - IETF DRAFT behera-ldap-password-policy
    1.3.6.1.4.1.4203.1.10.1 - Subentries - Control - RFC3672
    1.3.6.1.4.1.4203.1.9.1.1 - LDAP content synchronization - Control - RFC4533
    1.3.6.1.4.1.4203.666.11.3
    1.3.6.1.4.1.4203.666.11.6.3
    1.3.6.1.4.1.4203.666.5.12
    1.3.6.1.4.1.4203.666.5.14
    1.3.6.1.4.1.4203.666.5.2
    2.16.840.1.113730.3.4.18 - Proxy Authorization Control - Control - RFC6171
    2.16.840.1.113730.3.4.2 - ManageDsaIT - Control - RFC3296
  Supported extensions: 
    1.3.6.1.1.8 - Cancel Operation - Extension - RFC3909
    1.3.6.1.4.1.1466.101.119.1 - Dynamic Refresh - Extension - RFC2589
    1.3.6.1.4.1.1466.20037 - StartTLS - Extension - RFC4511-RFC4513
    1.3.6.1.4.1.4203.1.11.1 - Modify Password - Extension - RFC3062
    1.3.6.1.4.1.4203.1.11.3 - Who am I - Extension - RFC4532
    1.3.6.1.4.1.4203.666.11.6.1
  Supported features: 
    1.3.6.1.1.14 - Modify-Increment - Feature - RFC4525
    1.3.6.1.4.1.4203.1.5.1 - All Op Attrs - Feature - RFC3673
    1.3.6.1.4.1.4203.1.5.2 - OC AD Lists - Feature - RFC4529
    1.3.6.1.4.1.4203.1.5.3 - True/False filters - Feature - RFC4526
    1.3.6.1.4.1.4203.1.5.4 - Language Tag Options - Feature - RFC3866
    1.3.6.1.4.1.4203.1.5.5 - language Range Options - Feature - RFC3866
  Supported SASL mechanisms: 
    DIGEST-MD5, CRAM-MD5
  Schema entry: 
    cn=Subschema
Other:
  entryDN: 

  structuralObjectClass: 
OpenLDAProotDSE
  configContext: 
cn=config
  objectClass: 
    top
    OpenLDAProotDSE
  monitorContext: 
cn=Monitor

Plain 1
 ldap://someldapserver.with.starttls:389 - cleartext - user: None - not lazy - bound - open - <local: 10.xx.xx.yy:35806 - remote: 10.xx.xx.xx:389> - tls not started - listening - SyncStrategy - internal decoder
START-TLS 2
 ldap://someldapserver.with.starttls:389 - cleartext - user: None - not lazy - bound - open - <local: 10.xx.xx.yy:35806 - remote: 10.xx.xx.xx:389> - tls started - listening - SyncStrategy - internal decoder
START-TLS again
 ldap://someldapserver.with.starttls:389 - cleartext - user: None - not lazy - unbound - open - <local: 10.xx.xx.yy:35808 - remote: 10.xx.xx.xx:389> - tls started - listening - SyncStrategy - internal decoder


```

Hello Nick,

of course i can provide an example what i tried
https://github.com/khorsmann/flask_ldap3_login_starttls_question/blob/master/app/testapp.py


It looks like in your first snippet (Which I assume is the working example you're comparing to, when you create the `ldap.Server` object you set `use_ssl` to `False`:

```python
server = Server(host, port=389, use_ssl=False, tls=tls_configuration, get_info=ALL)
```

In your configuration it seems you have got `ldap_auth_config_dict['LDAP_USE_SSL'] = True`; which may be conflicting.

https://github.com/khorsmann/flask_ldap3_login_starttls_question/blob/master/app/testapp.py#L30

I am not familiar with START-TLS, so without looking further into it just yet perhaps this might be the issue?


With that being said; perhaps this assertion may need to be removed, since it stops you using a custom TLS config with use_ssl=False...

https://github.com/nickw444/flask-ldap3-login/blob/9069565f15382cad27a0fbae795fc73d68115ee9/flask_ldap3_login/__init__.py#L163

Would you kindly check if removing the assertion from the library and using `use_ssl=False` fixes the issue for you? 

Hello Nick,

i tried that. Without the raise in Line 163 the connection works. But the connection is always plain-text. I think there is something necessary like conn.anonymous bind (plain-text), then conn.start_tls() and now its secure. I have no clue where i can bring the connection to this two-step behavoir at this moment.

You begin with an plain-text ldap connection and then you upgrade the same connection with start_tls() method. https://ldap3.readthedocs.io/tutorial_intro.html#establishing-a-secure-connection


Thanks for the info. I see what you mean about the call to start_tls. 

Would you be able to raise a pull request against this repo to introduce the functionality? I don’t have an LDAP server with this configuration readily available so me developing the feature might be quite difficult as you could imagine. 

Hi Nick,

sure i can test it against my START-TLS enabled LDAP Server.
Can you help me where i should add the start_tls() functionality?

In my case i do the ldap.initialize anonymous and then i "upgrade" the connection via start_tls and bind now the user_dsn/password (did that with ldap module).


Hi @khorsmann apologies for the delay. if you are still in need of this feature, I think the most relevant place to put the `start_tls` call will be here:

https://github.com/nickw444/flask-ldap3-login/blob/master/flask_ldap3_login/__init__.py#L794

immediately after the connection is created, I think is an appropriate time to call `start_tls`. See if that works!

Closing due to inactivity 

Hi, I also have this configuration of an LDAP server with starttls enabled (port 389) and port 636 disabled. I have followed the suggestions here to modify ../flask_ldap3_login/__init__.py with relative success. I have added the `start_tls` call after the connection is made as suggested. This works well sometimes but often I get this error:
```
Traceback (most recent call last):
  File "/home/casa/flaskpm/testldap.py", line 94, in <module>
    response = ldap_manager.authenticate('usrname', 'passwd')
  File "/home/casa/flaskpm/venv/lib/python3.9/site-packages/flask_ldap3_login/__init__.py", line 269, in authenticate
    result = self.authenticate_direct_bind(username, password)
  File "/home/casa/flaskpm/venv/lib/python3.9/site-packages/flask_ldap3_login/__init__.py", line 379, in authenticate_direct_bind
    connection = self._make_connection(
  File "/home/casa/flaskpm/venv/lib/python3.9/site-packages/flask_ldap3_login/__init__.py", line 794, in _make_connection
    connection.start_tls()
  File "/home/casa/flaskpm/venv/lib/python3.9/site-packages/ldap3/core/connection.py", line 1314, in start_tls
    if self.server.tls.start_tls(self) and self.strategy.sync:  # for asynchronous connections _start_tls is run by the strategy
AttributeError: 'NoneType' object has no attribute 'start_tls'
```
I can deal with this with some try code but I'm curious about the reason this could be happening. In my limited understanding it seems as if the connection is sometimes not being made and therefore the 'NoneType'  error. Do you have any insight into this?

I'm also having to authenticate to a `ssl start_tls` configured LDAP server.  @felipe-lm @khorsmann can you share a snippet to give me a hand with the changes?  Thanks